* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden !important;
}

img,
.relative,
.absolute {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .slick-slide {
    margin: 0 5px !important;
  }
}

.carousel .slick-slide {
  margin: 0 10px; /* Aumenta a margem entre as imagens no desktop */
}
